# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.user
*.ncb
*.suo
*.exe
*.ilk
*.pdb
*.sbr
*.idb
*.htm
*.pch
*.bsc
*.obj
Binaries/*.*
Engine/*.*
UDKGame/*.*
Development/Flash/
Development/Src/Core/
Development/Src/GFxUI/
Development/Src/GFxUIEditor/
Development/Src/GameFramework/
Development/Src/IpDrv/
Development/Src/MyMod/
Development/Src/OnlineSubsystemGameCenter/
Development/Src/OnlineSubsystemPC/
Development/Src/OnlineSubsystemSteamworks/
Development/Src/UDKBase/
Development/Src/UTEditor/
Development/Src/UTGame/
Development/Src/UTGameContent/
Development/Src/UnrealEd/
Development/Src/WinDrv/
Development/Src/obj/
Development/Src/UDKProject.suo
Binaries/
Engine/
UDKGame/Autosaves/
UDKGame/Build/
UDKGame/Cloud/
UDKGame/Config/
UDKGame/Content/GameAssetDatabase.checkpoint
UDKGame/Content/GameAssetDatabase.journal
UDKGame/Content/GameAssetDatabase_backup.journal
UDKGame/Content/GlobalShaderCache-PC-D3D-SM3.bin
UDKGame/Content/GlobalShaderCache-PC-D3D-SM5.bin
UDKGame/Content/GlobalShaderCache-PC-OpenGL.bin
UDKGame/Content/LocalShaderCache-PC-D3D-SM3.upk
UDKGame/Content/Mobile/
UDKGame/Content/RefShaderCache-PC-D3D-SM3.upk
UDKGame/Content/RefShaderCache-PC-D3D-SM5.upk
UDKGame/Content/RefShaderCache-PC-OpenGL.upk
UDKGame/Content/Shared/
UDKGame/Content/Showcases/
UDKGame/Content/TestPackages/
UDKGame/Content/UT3/
UDKGame/Content/Maps/Examples/
UDKGame/Content/Maps/Mobile/
UDKGame/Content/Maps/Showcases/
UDKGame/Content/Maps/UT3/
UDKGame/Flash/
UDKGame/Localization/
UDKGame/Logs/
UDKGame/Movies/
UDKGame/ProjectTemplates/
UDKGame/Script/
UDKGame/Splash/